@import "../../../styles.scss";

.list {
  width: 86%;
  margin: auto;
  margin-top: 2em;

  h2 {
    color: rgb(255, 196, 0);
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }

  [type="text"] {
    border-radius: 10px;
    height: 20px;
    font-size: 19px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border-color: rgb(255, 196, 0);
  }

  .form-control {
    width: 100%;
  }

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 4em;
    margin-top: 3em;
  }
